<!DOCTYPE html>
<html>
  <head>
    <meta charset='utf-8'>
    <meta http-equiv="X-UA-Compatible" content="chrome=1">

    <link rel="stylesheet" type="text/css" href="stylesheets/stylesheet.css" media="screen" />
    <link rel="stylesheet" type="text/css" href="stylesheets/pygment_trac.css" media="screen" />
    <link rel="stylesheet" type="text/css" href="stylesheets/print.css" media="print" />

    <title>Angular-swipe-glue by JulienYo</title>
  </head>

  <body>

    <header>
      <div class="container">
        <h1>Angular-swipe-glue</h1>
        <h2>Swipe items horizontaly and try to reach nearest item smoothly</h2>

        <section id="downloads">
          <a href="https://github.com/JulienYo/angular-swipe-glue/zipball/master" class="btn">Download as .zip</a>
          <a href="https://github.com/JulienYo/angular-swipe-glue/tarball/master" class="btn">Download as .tar.gz</a>
          <a href="https://github.com/JulienYo/angular-swipe-glue" class="btn btn-github"><span class="icon"></span>View on GitHub</a>
        </section>
      </div>
    </header>

    <div class="container">
      <section id="main_content">
        <h1>
<a name="angular-swipe-glue" class="anchor" href="#angular-swipe-glue"><span class="octicon octicon-link"></span></a>angular-swipe-glue</h1>

<p>Swipe items horizontaly and try to reach nearest item smoothly.</p>

<p>Demo: <a href="http://julienyo.github.io/angular-swipe-glue">http://julienyo.github.io/angular-swipe-glue</a></p>

<h2>
<a name="usage" class="anchor" href="#usage"><span class="octicon octicon-link"></span></a>Usage:</h2>

<pre><code>&lt;ul glue&gt;
  &lt;li&gt;A&lt;/li&gt;
  &lt;li&gt;B&lt;/li&gt;
  &lt;li&gt;C&lt;/li&gt;
  &lt;li&gt;D&lt;/li&gt;
  &lt;li&gt;E&lt;/li&gt;
  &lt;li&gt;F&lt;/li&gt;
&lt;/ul&gt;
</code></pre>

<h3>
<a name="2way-binding-index-controllers" class="anchor" href="#2way-binding-index-controllers"><span class="octicon octicon-link"></span></a>2way binding index controllers</h3>

<pre><code>&lt;ul swipe-glue swipe-index="index"&gt;
  &lt;li&gt;A&lt;/li&gt;
  &lt;li&gt;B&lt;/li&gt;
  &lt;li&gt;C&lt;/li&gt;
  &lt;li&gt;D&lt;/li&gt;
  &lt;li&gt;E&lt;/li&gt;
  &lt;li&gt;F&lt;/li&gt;
&lt;/ul&gt;
index: &lt;input type="number" min="0" ng-model="index"&gt;
&lt;span ng-click="index = index-1"&gt;&amp;lt;&lt;/span&gt;&lt;span ng-click="index = index+1"&gt;&amp;gt;&lt;/span&gt;
</code></pre>

<h2>
<a name="todo" class="anchor" href="#todo"><span class="octicon octicon-link"></span></a>Todo:</h2>

<ul>
<li> Allow Different sized items</li>
<li> Allow vertical items</li>
</ul>
      </section>
    </div>

              <script type="text/javascript">
            var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
            document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
          </script>
          <script type="text/javascript">
            try {
              var pageTracker = _gat._getTracker("UA-51207542-1");
            pageTracker._trackPageview();
            } catch(err) {}
          </script>

  </body>
</html>